@import 'bootstrap/dist/css/bootstrap.min.css';

.search-section {
  background-color: #f8f9fa;
  padding: 20px 0;
  margin-bottom: 30px;
}

.form-select, .form-control, .input-group-text {
  border-radius: 50px !important;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group .form-control {
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
}

.input-group .input-group-text {
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
}
.custom-select {
  border-color: #535353 !important;
  border-width: 1px !important;
}
.custom-select-arrow {
  border-color: #535353 !important;
  border-width: 1px !important;
  border-right: none !important;
}
.input-search-icon {
  background-color: white !important;
  border-color: #535353 !important;
  border-width: 1px !important;
}
.button-filter {
  border-color: #535353 !important;
  border-width: 1px !important;
  background-color: white !important;
  color: black !important;
  border-radius: 50px !important;
}